/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%; /* O container agora ocupa toda a largura da tela */
  padding: 20px;
  box-sizing: border-box; /* O padding não aumenta a largura total */
}

h1, h2 {
  text-align: center;
  color: #333;
}

/* Formulário de Cadastro */
#cad-usuario-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* O padding não aumenta a largura total */
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Comentários */
#comentarios {
  list-style: none;
  padding: 0;
}

#comentarios li {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  #cad-usuario-form {
    padding: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 5px;
  }
  
  /* Reduza o tamanho da fonte para títulos em telas menores */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
